<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218081586400-r9grb7aakvesleevnrmh86f8np6vsspo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218081586400-r9grb7aakvesleevnrmh86f8np6vsspo</string>
	<key>API_KEY</key>
	<string>AIzaSyCHoo2cXexK9whQxQtRW0g54V2dtVLWCxE</string>
	<key>GCM_SENDER_ID</key>
	<string>218081586400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reactjs.native.catalogApp</string>
	<key>PROJECT_ID</key>
	<string>catalogapp-db076</string>
	<key>STORAGE_BUCKET</key>
	<string>catalogapp-db076.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218081586400:ios:7e71d0185128eb80667485</string>
</dict>
</plist>